// @import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@mixin addHover($color) {
  background-color: rgb(78, 74, 74) !important;
  color: $color;
  border: 1px solid $color;
}

@mixin inverted() {
  filter: invert(0);
}

$dark-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
  rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
$light-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
  rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;

$dark: #2c2c2c;
$blue: #045d91;
$purp: #6b2468;
$hot: #eb540e;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Monaco';
  font-size: 18px;
}

.footer {
  background-color: white;

  a {
    color: $purp !important;
  }
}

.is-rounded {
  border-radius: 12px;
}

.button a {
  color: white !important;
}

a {
  color: #727272;
  &:hover {
    color: $dark;
  }
}

.dark {
  #main,
  .navbar,
  .footer {
    background: $dark !important;
  }
  .menu-navbar .title {
    color: $dark !important;
  }
  .menu-list a {
    color: $dark !important;
  }

  .hero-body,
  .box,
  .tag {
    background: #2f2f2f !important;
    color: white !important;
  }

  .invert {
    filter: invert(1) !important;
  }

  #main {
    .nuxt-link-exact-active {
      color: $hot !important;
    }

    .button {
      &:hover {
        a {
          color: $dark !important;
        }
      }
    }

    .button.is-dark {
      background: grey !important;
      &:hover {
        background: white !important;

        a {
          color: $dark !important;
        }
      }
      a:hover {
        color:  #689213 !important;
      }
    }

    .button a:hover {
      color: #689213 !important;
    }

    strong,
    label,
    li,
    .subtitle {
      color: steelblue !important;
    }

    .navbar-brand a.navbar-item:hover {
      background-color: white !important;
    }

    a.navbar-item:hover {
      color: $dark !important;
    }

    h1,
    h2,
    p,
    a,
    .title {
      color: white;
    }
  }
}

.is-avatar {
  box-shadow: $dark-shadow;
  &:hover {
    box-shadow: $light-shadow;
    transform: translateY(-3px) scale(1.05);
  }
}

.button {
  font-weight: 600 !important;
  transition: all 0.5s ease-in;
  box-shadow: $light-shadow;
  font-family: 'Monaco' !important;

  &:hover {
    transform: scale(1.05) !important;
    box-shadow: $dark-shadow;
  }

  &.is-info {
    background-color: $blue;
    &:hover {
      @include addHover($blue);
      a svg {
        @include inverted();
      }
    }
  }

  &.is-link {
    background-color: $purp;

    &:hover {
      @include addHover($purp);
      a svg {
        filter: invert(1);
      }
    }
  }

  &.is-dark {
    background-color: $dark !important;

    &:hover {
      @include addHover($dark);
      a svg {
        @include inverted();
      }
    }
  }
}

@media (max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.is-link {
  color: #3f9c5e !important;
}

.is-typed {
  font-size: 36px;
}

.titled {
  font-family: 'Monaco' !important;
  font-size: 50px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-family: 'Monaco' !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

#strikeout:hover {
  text-decoration: underline;
  animation-name: strikeout;
  animation-duration: 250ms;
  animation-iteration-count: 2;
}

@keyframes strikeout {
  20% {
    text-decoration: overline;
  }
  40% {
    text-decoration: line-through;
  }
  60% {
    text-decoration: transparent;
    color: transparent;
  }
  80% {
    text-decoration: line-through;
  }
  100% {
    text-decoration: underline;
  }
}

.is-image {
  position: relative;
  top: 40%;
  right: -44%;
  transform: translate(60%);
  padding-bottom: 200px;
}

@media (max-width: 778px) {
  .is-image {
    position: static;
    padding-top: 20px;
    transform: translate(0%);
  }
}

.contact-image {
  position: absolute;
  top: -60%;
  right: 60%;
  transform: translate(3%);
}

@media (max-width: 1516px) {
  .contact-image {
  position: absolute;
    top: -10%;
    z-index: 1000;
    right: -60%;
    transform: translate(90%,-80%);
  }
}

@media (max-width: 778px) {
  .contact-image {
    position: static;
    padding-top: 20px;
    transform: translate(0%);
  }
}

.index-svg {
  position: relative;
  right: -20%;
  top: -2%;
  z-index: -1000;
  max-width: 500px;
  padding-bottom: 100px;
  padding-top: 40px;
  animation: indexSVG 3s infinite;

  @media (max-width: 951px) {
    position: static;
    animation: github 1s infinite;
  }

  @media (max-width: 551px) {
    max-width: 300px;
    padding-top: 60px;
  }
}

#github {
  animation: github 2s infinite;
}

@keyframes indexSVG {
  30% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(20px);
  }
  90% {
    transform: translateX(0px);
  }
}

@keyframes github {
  30% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(1px);
  }
  90% {
    transform: translateY(0px);
  }
}